<h1>The Planets of Star Wars</h1>
{{#each planets}}
<section>
    <hr / >
    <div>
        <p>
            <span>Planets</span>
            <span>{{name}}</span>
        </p>
    </div>
    <div>
        <p>
            <span>Rotation Period</span>
            <span>{{rotation_period}}</span>
        </p>
    </div>
</section>
{{/each}}